* {
  margin: 0;
  padding: 0;
  font-family: var(--roboto);
  color: inherit; 
  margin-block-start: 0;
  margin-block-end: 0;
}

*:hover{
  text-decoration: none;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

section, .menu{
  height: 100vh;
  width: 100vw;
}

:root {
  /* Variables des couleurs */
  --violet-fonce: #551860;
  --violet-clair: #e4cae9;
  --bleu-fonce: #244a68;
  --bleu-clair: #d8eaee;
  --jaune: #ffce2f;
  --beige: #fbe6e4;

  /* Variables des polices */
  --oswald: 'Oswald', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

/*____________________________________*/
/* GESTION DU MENU */
.menu {
  background-color: var(--bleu-fonce);
  position: fixed;
  top: -100vh;
  left: 0;
  transition: top 0.8s ease-in-out;
  z-index: 10;
  color: var(--beige);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu.show {
  top: 0;
}

.menu-header, .menu-footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 2%;
  right: 2%;
}

.menu-header{
  top: 2%;
}

.menu-footer{
  bottom: 2%;
}

.menu-main {
  position: absolute;
  width: 65%;
  margin: 3% 20% 3% 15%;
  display: flex;
  justify-content: space-between;
}

.fox1 {
  height: 85vh;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 36px;
  margin: 3em 0;
}

.menu-nav--link{
  display: flex;
  flex-direction: column;
  row-gap: 0.8em;
}

.--link{
  display: flex;
  gap: 1em;
  width: fit-content;
}

.--link:hover {
  cursor: pointer;
  color: var(--jaune);
}

.--link p {
  position: relative;
  overflow: hidden;
}

.--link p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, var(--jaune), var(--jaune));
  transition: left 0.5s ease-in-out;
}

.--link p:hover::before {
  left: 0;
}

.carteVisite {
  color: black;
  background-color: var(--beige);
  font-size: 24px;
  width: fit-content;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: transform 0.3s; 
}

.carteVisite:hover{
  background-color: var(--jaune);
  cursor: pointer;
  transform: scale(1.05);
}

.menu-footer img {
  width: 40px;
  cursor: pointer;
}

/*____________________________________*/
/* GESTION DU HEADER ET DU FOOTER */
header, footer {
  position: fixed;
  left: 2%;
  right: 2%;
  color: var(--violet-clair);
  transition: opacity 0.4s ease-in-out;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  z-index: 5;
}

.fade {
  opacity: 0;
}

header i, footer i, .menu-header i, .outils-logo i{
  font-size: 40px;
  transition: transform 0.3s; 
}

footer i:hover, header i:hover, nav i:hover, .menu-header i:hover, .outils-logo i:hover{
  color: var(--jaune);
  transform: scale(1.1);
  cursor: pointer;
}

header{
  top: 3%;
}

footer {
  bottom: 3%;
}

header img, .menu-header img, .--link i {
  width: 40px;
}

.copyright {
  font-size: 20px;
  font-style: italic;
}

footer p:last-child, .menu-footer p:last-child {
  font-size: 12px;
}

.reseauxSociaux {
  display: flex;
  gap: 0.5em;
}


@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

.scrollDown, .scrollUp  {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: jump 2s infinite;
}



/*____________________________________*/
/* GESTION DE LA NAV BAR*/
nav {
  position: fixed;
  right: 2%;
  top: 50%; 
  transform: translateY(-50%);
  display: none;
  flex-direction: column;
  gap: 1.3em;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  z-index: 5;
}

nav i{
  transition: transform 0.3s; 
}

.active {
  color: var(--jaune);
}

/*____________________________________*/
/* GESTION DES SECTIONS EN FONCTION DE LEUR PARITÉ */

.full-section:nth-of-type(odd){
  background-color: var(--violet-fonce);
  color: var(--violet-clair);
}

.full-section:nth-of-type(even){
  background-color: var(--bleu-fonce);
  color: var(--bleu-clair);
}

.full-section {
  position: relative;
}

.full-section:before, .menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

/*____________________________________*/
/* GESTION DU CONTENU DES PAGES*/
.page {
  position: absolute;
  top: 7%;
  left: 6%;
  right: 8%;
  bottom: 12%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.page-header {
  max-width: 66%;
}

h1, h2, h3, h4 {
text-transform: uppercase;
font-family: var(--oswald);
font-weight: bold;
}

h1, h3, h4 {
  color: var(--jaune);
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 50px;
  display: inline-block;
}

h3 {
  font-size: 36px;
  margin-bottom: 12px;
}

h4 {
  font-size: 28px;
  margin-top: 1em;
}

section p {
  font-size: 20px;
}

section:nth-of-type(even) h2{
  background-color: var(--bleu-clair);
  color: var(--bleu-fonce);
}

section:nth-of-type(odd) h2{
  background-color: var(--violet-clair);
  color: var(--violet-fonce);
}

section:nth-of-type(even) p{
  color: var(--bleu-clair);
}

section:nth-of-type(odd) p{
  color: var(--violet-clair);
}

.accroche {
  margin-top: 10px;
}

.px24 {
  font-size: 24px;
}

.page-main {
  height: 66%;
  width: 100%;
  display: flex;
  margin-top: 70px;
}

article {
  width: 66%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

aside {
  width: 33%;
}

/*____________________________________*/
/* ACCUEIL */

#accueil .page {
  flex-direction: row;
  margin: auto;
}

#accueil aside{
  width: 45%;
}

aside img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#accueil article {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#accueil h1, #accueil h3 {
  font-size: 60px;
}

#accueil h2 {
  font-size: 90px;
  background-color: var(--beige);
  width: fit-content;
  padding: 0 10px;
}

#accueil h3 {
width: 70%;
}

.presentation p {
  margin-bottom: 0.5em;
  text-align: justify;
}

/*____________________________________*/
/* MES PRESTATIONS */

.services {
  width: 50%;
}

.outils {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.outils h3{
  align-self: center;
}

.outils-logo {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.outils-logo i:hover {
  color: var(--jaune);
}

.outils-box {
  position: relative;
  margin-top: 1em;
}

.outils-box > div {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  opacity: 0;
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.outils-box > div.activeTool {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.outils-box--zoom, .outils-box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.outils-box--zoom i {
  font-size: 100px;
}



/*____________________________________*/
/* MON PORTEFOLIO */

#portefolio .page-main{
  gap: 50px;
}

#portefolio article {
  width: 33%;
  flex-wrap: nowrap;
  text-align: justify;
  gap: 10px;
  overflow: hidden; /* Ajout de la propriété overflow pour masquer le texte dépassant */
}

.projet-image {
  width: 100%;
  height: 500px; /* Hauteur initiale de l'image */
  object-fit: cover;
  transition: height 1s; /* Transition de la hauteur */
}

.projet-text {
  opacity: 0; /* Le texte est transparent par défaut */
  transition: opacity 2s, transform 1s; /* Transitions pour l'opacité et la transformation */
  transform: translateY(100%); /* Déplace le texte vers le bas (hors de la vue) */
}

#portefolio article:hover{
  cursor: pointer;
}

#portefolio article:hover .projet-image {
  height: 150px; /* Hauteur de l'image au survol */
  border-bottom: 5px solid var(--jaune);
}

#portefolio article:hover .projet-text {
  opacity: 1; /* Rendre le texte opaque */
  transform: translateY(0%); /* Déplacer le texte vers le haut (visible) */
}

.projet-text p {
  margin-bottom: 0.5em;
}


/*____________________________________*/
/* MES CREATIONS - GALERIE DE DESSINS */

#creations .page{
  right: 4.1%;
}

#creations .page-main {
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 20px;
  margin-left: -40px;
}

.page-main--gallery {
  width: 95%;
  display: flex;
  gap: 20px;
  overflow: hidden; 
}

.page-main--gallery img {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid var(--bleu-clair);
  padding: 10px;
}

#creations .page-main i {
  position: relative;
  top: 50%;
  font-size: 40px;
  transition: transform 0.3s; 
}

#creations .page-main i:hover{
  color: var(--jaune);
  cursor: pointer;
}

/*____________________________________*/
/* RECOMMANDATIONS */
#recommandations .page-main{
  gap: 100px;
}

.reco {
  width: 33%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.reco p {
  text-align: justify;
}

.reco i {
color: var(--jaune);
font-size: 96px;
}

.reco h3 {
  justify-self: end;
}

/*____________________________________*/
/* CONTACT */

form {
  width: 100%;
  display: flex;
  gap: 150px;
}

.form1, .form2 {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form1:focus, .form2:focus {
  outline-color: var(--jaune)
}

  .form1 {
    width: 30%;
    
  }
  
  .form2 {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .form1 input, .form2 textarea, .form2 button {
    width: 100%;
    background-color: var(--bleu-clair);
    margin-bottom: 1em;
    color: var(--bleu-fonce);
    font-size: 30px;
    padding: 0.5em;
  }

  .form2 textarea {
    font-size: 26px;
    height: 20em;
  }

  .form2 button{
    width: 25%;
    text-transform: uppercase;
font-family: var(--oswald);
font-weight: bold;
  }

  .form2 button:hover{
    background-color: var(--jaune);
    cursor: pointer;
  }

  input:focus, textarea:focus {
    outline: none; 
    box-shadow: inset 0 0 0 5px var(--jaune);
  }

  .form2-footer {
    display: flex;
    justify-content: space-between;
    
  }

  .mentions {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  #RGPD:hover {
    cursor: pointer;
    color: var(--jaune);
  }