
* {
  margin: 0;
  padding: 0;
  font-family: var(--roboto);
  color: inherit; 
}

*:hover{
  text-decoration: none;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

section, .menu{
  height: 100vh;
  width: 100vw;
}

:root {
  /* Variables des couleurs */
  --violet-fonce: #551860;
  --violet-clair: #e4cae9;
  --bleu-fonce: #244a68;
  --bleu-clair: #d8eaee;
  --jaune: #ffce2f;
  --beige: #fbe6e4;

  /* Variables des polices */
  --oswald: 'Oswald', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

/* GESTION DU MENU */
.menu {
  background-color: var(--bleu-fonce);
  position: fixed;
  top: -100vh;
  left: 0;
  transition: top 0.8s ease-in-out;
  z-index: 10;
  color: var(--beige);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu.show {
  top: 0;
}

.menu-header, .menu-footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 2%;
  right: 2%;
}

.menu-header{
  top: 2%;
}

.menu-footer{
  bottom: 2%;
}

.menu-main {
  position: absolute;
  width: 65%;
  margin: 3% 20% 3% 15%;
  display: flex;
  justify-content: space-between;
}

.fox1 {
  height: 85vh;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 36px;
  margin: 3em 0;
}

.menu-nav--link{
  display: flex;
  flex-direction: column;
  row-gap: 0.8em;
}

.--link{
  display: flex;
  gap: 1em;
  width: fit-content;
}

.--link:hover {
  cursor: pointer;
  color: var(--jaune);
}

.--link p {
  position: relative;
  overflow: hidden;
}

.--link p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, var(--jaune), var(--jaune));
  transition: left 0.5s ease-in-out;
}

.--link p:hover::before {
  left: 0;
}

.carteVisite {
  color: black;
  background-color: var(--beige);
  font-size: 32px;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: transform 0.3s; 
}

.carteVisite:hover{
  background-color: var(--jaune);
  cursor: pointer;
  transform: scale(1.05);
}

.menu-footer img {
  width: 40px;
  cursor: pointer;
}


/* GESTION DU HEADER ET DU FOOTER */
header, footer {
  position: fixed;
  left: 2%;
  right: 2%;
  color: var(--violet-clair);
  transition: opacity 0.4s ease-in-out;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  z-index: 5;
}

.fade {
  opacity: 0;
}

header i, footer i, .menu-header i {
  font-size: 40px;
  transition: transform 0.3s; 
}

footer i:hover, header i:hover, nav i:hover, .menu-header i:hover{
  color: var(--jaune);
  transform: scale(1.1);
  cursor: pointer;
}

header{
  top: 3%;
}

footer {
  bottom: 3%;
}

header img, .menu-header img, .--link i {
  width: 40px;
}

.copyright {
  font-size: 20px;
  font-style: italic;
}

footer p:last-child, .menu-footer p:last-child {
  font-size: 12px;
}

.reseauxSociaux {
  display: flex;
  gap: 0.5em;
}

/* GESTION DE LA NAV BAR*/
nav {
  position: fixed;
  right: 2%;
  top: 33%;
  color: var(--violet-clair);
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  z-index: 5;
}

nav i{
  transition: transform 0.3s; 
}

.active {
  color: var(--jaune);
}


/* GESTION DES SECTIONS EN FONCTION DE LEUR PARITÉ */

/* Toutes les id des sections impaires */
#accueil:nth-of-type(odd),
#prestations:nth-of-type(odd),
#portefolio:nth-of-type(odd),
#creations:nth-of-type(odd),
#recommandations:nth-of-type(odd),
#contact:nth-of-type(odd){
  background-color: var(--violet-fonce);
  color: var(--violet-clair);
}

/* Toutes les id des sections paires */
#accueil:nth-of-type(even),
#prestations:nth-of-type(even),
#portefolio:nth-of-type(even),
#creations:nth-of-type(even),
#recommandations:nth-of-type(even),
#contact:nth-of-type(even){
  background-color: var(--bleu-fonce);
  color: var(--bleu-clair);
}

section {
  padding: 7%;
}

.full-section {
  position: relative;
}

.full-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}
